@import '../../../sass/main.scss';

table {
  /* font-family: Arial, Helvetica, sans-serif; */
  table-layout: fixed;
  border-collapse: collapse;
  // width: 760px;
  // margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  color: $secondaryTextColor;
  border: none;
  // padding: 20px;
}
table.generalTbl {
  width: 78vw;
  @media screen and (min-width: 1280px) {
    width: 760px;
  }
}

table.generalTbl tr {
  height: 40px;
}
thead th:nth-child(1) {
  width: 11vw;
  @media screen and (min-width: 1280px) {
    width: 84px;
  }
}
thead th:nth-child(2) {
  width: 26vw;
  @media screen and (min-width: 1280px) {
    width: 272px;
  }
}
thead th:nth-child(3) {
  width: 13vw;
  @media screen and (min-width: 1280px) {
    width: 116px;
  }
}
thead th:nth-child(4) {
  width: 12vw;
  @media screen and (min-width: 1280px) {
    width: 104px;
  }
}
thead th:nth-child(5) {
  width: 16vw;
  @media screen and (min-width: 1280px) {
    width: 184px;
  }
}

table th:first-child {
  border-top-left-radius: 20px;
}
table th:last-child {
  border-top-right-radius: 20px;
}

table td,
table th {
  // border: 1px solid $secondaryColor;
  border-left: none;
  border-top: none;
  border-bottom: 2px solid $secondaryColor;
  // padding-left: 20px;
}

table td:first-child,
table th:first-child {
  border-left: 2px solid $secondaryColor;
  padding-left: 20px;
}
table td:last-child,
table th:last-child {
  width: 100px;
  text-align: center;
}

// table tr:nth-child(even) {
//   background-color: $secondaryColor;
// }

// table tr:hover {
//   background-color: #ddd;
// }

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  text-align: left;
  background-color: $secondaryColor;
  color: $textColor;
  border: none;
}

table td:nth-child(2) {
  width: 188px;
  text-align: left;
  padding-left: 20px;
}
table th:nth-child(3) {
  text-align: center;
}
table td:nth-child(3) {
  width: 116px;
  text-align: center;
  padding-left: 20px;
}
table th:nth-child(4) {
  text-align: right;
}
table td:nth-child(4) {
  text-align: right;
  font-weight: 700;
}

table td:nth-child(5) {
  border-right: 2px solid $secondaryColor;
}

.pageNavigation {
  // width: 760px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  justify-content: space-around;
}
.pageNavigationButton {
  color: $secondaryColor;
  background-color: $accentColor;
  border: none;
  border-radius: 5px;
}

.delBtn {
  border: none;
  background-color: $mainColor;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}

table tr:hover .delBtn {
  background: $secondaryColor;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

table tr:hover td:nth-child(4) {
  color: $expenceColor;
}
