.hero {
  height: 526px;
  border-bottom-left-radius: 20%;
  background-color: #f5f6fb;
  background-image: url('../../components/homepage/images/desktop/kapusta.png');
  background-repeat: repeat-x;
  background-position: left 0px top 28px;
  background-size: contain;
  position: relative;
  margin-bottom: 76px;
}
@media screen and (max-width: 1279px) {
  .hero {
    background-image: url('../../components/homepage/images/tablet/kapusta.png');
  }
}
@media screen and (max-width: 767px) {
  .hero {
    background-image: url('../../components/homepage/images/mobile/kapusta.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-color: #f5f6fb;
    background-position: right 0px top 104px;
    height: 342px;
  }
}
.tagline {
  position: absolute;
  bottom: 98px;
  left: 230px;
}
.heading {
  font-size: 102px;
  font-weight: 900;
  line-height: 120px;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .heading {
    font-size: 45px;
    line-height: 50px;
  }
}
@media screen and (max-width: 1279px) {
  .tagline {
    position: absolute;
    left: 166px;
    top: 62px;
    bottom: auto;
  }
}
@media screen and (max-width: 767px) {
  .tagline {
    left: 49px;
    top: 86px;
  }
}
.description {
  margin: 0;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  font-weight: bold;
}
@media screen and(max-width:767px) {
  .description {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.15em;
  }
}
.kapusta {
  position: absolute;
  left: 230px;
}
@media screen and (max-width: 1279px) {
  .kapusta {
    left: 103px;
    top: 710px;
    bottom: 56px;
    z-index: 51;
  }
}
@media screen and (max-width: 767px) {
  .kapusta {
    left: 35px;
    top: 640px;
    z-index: 1;
  }
}
.homepage {
  font-family: 'Roboto';
}
@media screen and (max-width: 1279px) {
  .homepage {
    width: 768px;
  }
}
@media screen and (max-width: 767px) {
  .homepage {
    width: 320px;
  }
}
