.hero {
  height: 526px;
  border-bottom-left-radius: 20%;
  background-color: #f5f6fb;
  background-image: url('../../../public/kapusta.png');
  background-repeat: repeat-x;
  background-position: left 0px top 28px;
  background-size: contain;
  position: relative;
  margin-bottom: 76px;
}
.tagline {
  position: absolute;
  bottom: 98px;
  left: 230px;
}
.heading {
  font-size: 102px;
  line-height: 120px;
  margin: 0;
}
.description {
  margin: 0;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}
.kapusta {
  position: absolute;
  left: 230px;
}
.homepage {
  font-family: Roboto;
}
