.form {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.inputList {
  display: flex;
  flex: auto;
  height: 44px;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    padding-right: 27px;
    margin-bottom: 0;
  }
}

.btnList {
  display: flex;
  width: 270px;
  align-items: center;
  justify-content: space-between;

  margin-left: auto;
  margin-right: auto;
}

.calendar {
  width: 104px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  margin-right: 36px;
  cursor: pointer;
}

.calendarIcon {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: inherit;
  margin-right: 10px;
  background-image: url(../../icons/calendar.svg);
  background-size: cover;
}

.calendarInput {
  width: 74px;
  background-color: transparent;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: inherit;
}

.descriptionLabel {
  flex: auto;

  input {
    height: 44px;
    width: 100%;
    padding: 0 20px;
    background-color: transparent;
    border: 2px solid #f5f6fb;
    border-right: none;
    border-radius: 16px 0 0 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;

    &:hover {
      border-color: #f5f6fb;
    }
  }
}

.categoryLabel {
  & > div {
    min-height: 44px;
    width: 188px;
    background: #fff;
    border-radius: 0;
    border: 2px solid #f5f6fb;
    border-right: none;
    box-shadow: none;

    &:hover {
      border-color: #f5f6fb;
    }
  }
}

.react-select__indicator-separator {
  display: none;
}

.calcLabel {
  input {
    position: relative;
    display: block;
    margin: 0 0 0 auto;
    padding: 0 50px 0 20px;
    width: 124px;
    height: 44px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    background-color: transparent;
    border: 2px solid #f5f6fb;
    border-radius: 0 16px 16px 0;

    background-image: url(../../icons/calculator.svg);
    background-repeat: no-repeat;
    background-position: center right 20px;
  }
}
