$mainColor: #ffffff;
$secondaryColor: #f2f5fc;
$accentColor: #ff751d;
$accentShadyColor: rgba(251, 124, 47, 0.2);
$textColor: #000000;
$secondaryTextColor: #52555f;
$expenceColor: #e7192e;
$modalBackground: #1d346a;
$primary-font-style: 'Roboto', sans-serif;
