h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  -webkit-text-decoration: auto;
          text-decoration: auto;
  color: inherit;
}

input,
button,
textarea,
select,
a {
  font: inherit;
  letter-spacing: inherit;
}

p {
  margin: 0px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1.167;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

input {
  outline: none;
  border: none;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.logOutModal {
  background-color: white;
  -webkit-box-shadow: 10px 10px 30px rgba(82, 85, 95, 0.4);
          box-shadow: 10px 10px 30px rgba(82, 85, 95, 0.4);
  border-radius: 30px;
  overflow: hidden;
  position: relative;
}

.modalBtn, .buttonYes, .buttonNo {
  font-family: Roboto;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding: 0;
  cursor: pointer;
  width: 125px;
  border-radius: 16px;
  height: 44px;
  border: 2px solid #f5f6fb;
  -webkit-transition-duration: 350ms;
          transition-duration: 350ms;
  -webkit-transition-property: background-color border-color color;
  transition-property: background-color border-color color;
}

.buttonYes {
  background-color: #ff751d;
  border-color: #ff751d;
  color: #ffffff;
}

.buttonNo {
  background-color: #ffffff;
  color: #52555f;
}

.modalBtn:hover, .buttonYes:hover, .buttonNo:hover {
  background-color: #ffffff;
  color: #ff751d;
  border-color: #ff751d;
}

.pnotify-pre-line {
  letter-spacing: 0.02em;
  color: #52555f;
}

.custom-confirm {
  margin-top: 20px;
}

.pnotify-closer {
  float: none;
  margin-left: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
}

.pnotify-action-bar {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  margin-top: 0;
}

.pnotify .pnotify-shadow {
  padding-top: 50px;
  padding-bottom: 60px;
  padding-left: 58px;
  padding-right: 58px;
}

.pnotify.pnotify-with-icon .pnotify-content {
  margin-left: 0;
}

.pnotify-text-with-max-height {
  width: 100%;
  text-align: center;
}

.pnotify-sticker {
  display: none;
}

table {
  /* font-family: Arial, Helvetica, sans-serif; */
  border-collapse: collapse;
  width: 760px;
  margin-left: auto;
  margin-right: auto;
  color: #52555f;
  border: none;
}

table th:first-child {
  border-top-left-radius: 20px;
}

table th:last-child {
  border-top-right-radius: 20px;
}

table td,
table th {
  border: 1px solid #f2f5fc;
  padding: 8px;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #f2f5fc;
  color: #000000;
}

.pageNavigation {
  width: 760px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.pageNavigationButton {
  color: #f2f5fc;
  background-color: #ff751d;
  border: none;
  border-radius: 5px;
}
/*# sourceMappingURL=BasicTable.css.map */