.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.notify {
  background: #ffffff;
  border-radius: 20px;
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 380px;
  box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.2);
}

.text {
  text-align: center;
}

.button {
  align-items: center;
  border: 2px solid #f5f6fb;
  border-radius: 16px;
  cursor: pointer;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 700;
  height: 44px;
  letter-spacing: 0.02em;
  line-height: 14px;
  margin-top: 15px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  transition-duration: 0.35s;
  transition-property: background-color border-color color;
  width: 125px;
}

.button:hover {
  background-color: #ff751d;
  border-color: #ff751d;
  color: #fff;
}
