.header {
  text-align: center;
}

.balance__item {
  background-color: #f5f6fb;
  border: 1px solid white;

  width: 126px;
  height: 44px;
  font-size: 12px;
}

.balance__input {
  width: 124px;
  height: 40px;

  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
  border-right: 1px;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}
.balance__btn {
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .title {
    padding-right: 21px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin-left: 81px;
    padding-bottom: 58px;
  }
  .balance {
    display: flex;
    align-items: center;
  }

  .balance__item {
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    border: 2px solid #ffffff;
  }

  .balance__input {
    margin-right: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding-bottom: 10px;
    margin-top: 40px;
  }

  .balance {
    display: flex;
    align-items: center;
  }
}
