@import '../../sass/utils/breakpoints';

.inner {
  text-align: center;
}

.center {
  @media screen and (min-width: $breakpoint-tablet) {
    width: 50%;
  }
}

.right,
.left {
  @media screen and (min-width: $breakpoint-tablet) {
    width: 25%;
  }
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column-reverse;

  @media screen and (min-width: $breakpoint-tablet) {
    flex-direction: row;
    margin-left: 81px;
    padding-bottom: 58px;
  }
}
