.logOutModal {
  background-color: white;
  width: 380px;
  height: 194px;
  box-shadow: 10px 10px 30px rgba(82, 85, 95, 0.4);
  border-radius: 30px;
  display: flex;
}
.buttonYes {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  width: 125px;
  height: 44px;
  border-radius: 16px;
  border: none;
  background-color: $accentColor;
  margin-right: 15px;
  margin-bottom: 60px;
  margin-left: 58px;
  margin-top: 20px;
}
.buttonNo {
  width: 125px;
  height: 44px;

  border: 2px solid #f5f6fb;
  box-sizing: border-box;
  border-radius: 16px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #52555f;
  background-color: $mainColor;
  margin-bottom: 60px;
  margin-left: 57px;
  margin-top: 20px;
}
.pnotify-pre-line {
  width: 131px;
  height: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  //   display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: $secondaryTextColor;
}
.pnotify-closer {
  float: right;
  margin-left: 0.5em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pnotify-action-bar {
  flex-wrap: nowrap;
}
.pnotify-text-with-max-height {
  margin-top: 50px;
  margin-left: 50px;
}
